.height {
    height: 100px;
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.darkblue {
    background-color: darkblue;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}








